{% import "macros.html" as macro with context %}
{% extends "base.html" %}
{% block title %}API keys - {{ site_name }}{% endblock %}
{% block content %}
  <h1>API keys</h1>
  <h2>New API key</h2>
  <form method="post" action="{{ url_for('create_api_key_page') }}">
    <label>
      Name
      <input type="text" name="name" required>
    </label>
    <button type="submit">Create</button>
  </form>
  <br />
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created</th>
        <th>Running jobs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for api_key in paginator.items %}
        <tr>
          <td>{{ api_key.id }}</td>
          <td>{{ api_key.name }}</td>
          <td>{{ api_key.created_at.isoformat(timespec="seconds") }}</td>
          <td>{{ api_key.running_count }}</td>
          <td>
            <a href="{{ url_for('api_key_page', id=api_key.id) }}">Detail</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ macro.pagination(paginator) }}
{% endblock %}
