<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}{{ site_name }}{% endblock %}
    </title>
  </head>
  <body>
    <nav>
      <a href="{{ url_for('top_page') }}">TOP</a>
      {% if user %}
        <a href="{{ url_for('me_page') }}">Profile</a>
        <a href="{{ url_for('list_api_keys_page') }}">API Keys</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login_page') }}">Login</a>
      {% endif %}
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
