{% macro user_label(name, id, link=False) %}
  {% if name %}
    {% if link %}
      <a href="{{ url_for('user_page', id=id) }}">{{ name }}</a>
    {% else %}
      {{ name }}
    {% endif %}
  {% else %}
    [anonymous]
  {% endif %}
{% endmacro %}
{% macro user_name(user, link=False) %}
  {{ user_label((user.github.name or user.github.login_name) if is_active_user(user) else none, user.id, link) }}
{% endmacro %}
{% macro pagination(pagenator) %}
  <div>
    {% if pagenator.page > 1 %}
      <span>
        <a href="{{ update_query_params(page=pagenator.page - 1) }}">Next</a>
      </span>
    {% endif %}
    {% for i in range(1, total_pages(pagenator) + 1) %}
      <span>
        {% if pagenator.page == i %}
          <b>{{ i }}</b>
        {% else %}
          <a href="{{ update_query_params(page=i) }}">{{ i }}</a>
        {% endif %}
      </span>
    {% endfor %}
    {% if pagenator.page < total_pages(pagenator) %}
      <span>
        <a href="{{ update_query_params(page=pagenator.page + 1) }}">Next</a>
      </span>
    {% endif %}
  </div>
{% endmacro %}
