{% import "macros.html" as macro with context %}
{% extends "base.html" %}
{% block title %}Rollouts - {{ site_name }}{% endblock %}
{% block content %}
  <h1>Rollouts</h1>
  <div>Number of results: {{ count }}</div>
  <div>Success rate: {{ format_rate(rate) }}</div>
  <div>
    Submission ID: <a href="{{ url_for('submission_page', id=submission.id) }}">{{ submission.id }}</a>
  </div>
  <div>
    Task name: <a href="{{ url_for('task_page', id=submission.task.id) }}">{{ submission.task.name }}</a>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Created (UTC)</th>
        <th>success</th>
      </tr>
    </thead>
    <tbody>
      {% for result in paginator.items %}
        <tr>
          <td>{{ result.id }}</td>
          <td>{{ result.created_at.strftime("%Y-%m-%d %H:%M UTC") }}</td>
          <td>{{ result.success }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ macro.pagination(paginator) }}
{% endblock %}
