{% import "macros.html" as macro with context %}
{% extends "base.html" %}
{% block title %}
  {% if task %}
    Submissions - {{ task.name }} - {{ site_name }}
  {% else %}
    Submissions - {{ macro.user_name(user) }} - {{ site_name }}
  {% endif %}
{% endblock %}
{% block content %}
  <h1>Submissions</h1>
  {% if tasks %}
    <h2>New Submission</h2>
    <form method="post" action="{{ url_for('create_submission_page') }}">
      <label>
        Task
        <select name="task_id" required>
          <option value=""></option>
          {% for task in tasks %}<option value="{{ task.id }}">{{ task.name }}</option>{% endfor %}
        </select>
      </label>
      <label>
        Docker tag
        <input type="text" name="docker_tag" required>
      </label>
      <button type="submit">Create</button>
    </form>
    <br />
  {% endif %}
  {% if paginator.items %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Task name</th>
          <th>Docker tag</th>
          <th>Created</th>
          <th>Number of rollouts</th>
          <th>Success rate</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for submission in paginator.items %}
          <tr>
            <td>{{ submission.id }}</td>
            <td>{{ submission.task_name }}</td>
            <td>{{ submission.docker_tag }}</td>
            <td>{{ submission.created_at.isoformat(timespec="seconds") }}</td>
            <td>{{ submission.count }}</td>
            <td>{{ format_rate(submission.success_rate) }}</td>
            <td>
              <a href="{{ url_for('list_rollouts_page').include_query_params(submission_id=submission.id) }}">Rollouts</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ macro.pagination(paginator) }}
  {% else %}
    <p>No submissions yet.</p>
  {% endif %}
{% endblock %}
