{% import "macros.html" as macro with context %}
{% extends "base.html" %}
{% block title %}Tasks - {{ site_name }}{% endblock %}
{% block content %}
  <h1>Tasks</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Prompt</th>
        <th>Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in paginator.items %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.prompt }}</td>
          <td>{{ task.created_at.isoformat(timespec="seconds") }}</td>
          <td>
            <a href="{{ url_for('list_submissions_page').include_query_params(task_id=task.id) }}">Submissions</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ macro.pagination(paginator) }}
{% endblock %}
