{% import "macros.html" as macro with context %}
{% extends "base.html" %}
{% block title %}Tasks - {{ site_name }}{% endblock %}
{% block content %}
  <h1>Tasks</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Prompt</th>
        <th>Runtime</th>
        <th>Created</th>
        <th>Submissions</th>
        <th>Leaderboard</th>
        <th>Teleoperation</th>
      </tr>
    </thead>
    <tbody>
      {% for task in paginator.items %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.prompt }}</td>
          <td>{{ task.runtime }}</td>
          <td>{{ task.created_at.isoformat(timespec="seconds") }}</td>
          <td>
            <a href="{{ url_for('list_submissions_page').include_query_params(task_id=task.id) }}">Submissions</a>
          </td>
          <td>
            <a href="{{ url_for('list_leaderboard_page').include_query_params(task_id=task.id) }}">Leaderboard</a>
          </td>
          <td>
            <a href="{{ url_for('teleoperation_page', task_id=task.id) }}">Teleoperation</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ macro.pagination(paginator) }}
{% endblock %}
