{% extends "base.html" %}
{% block title %}Task - {{ task.name }} - {{ site_name }}{% endblock %}
{% block content %}
  <h1>Task</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Prompt</th>
        <th>Docker tag (Used on reset)</th>
        <th>Runtime</th>
        <th>Created</th>
        <th>Submissions</th>
        <th>Leaderboard</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.prompt }}</td>
        <td>{{ task.reset_docker_tag }}</td>
        <td>{{ task.runtime }}</td>
        <td>{{ task.created_at.isoformat(timespec="seconds") }}</td>
        <td>
          <a href="{{ url_for('list_submissions_page').include_query_params(task_id=task.id) }}">Submissions</a>
        </td>
        <td>
          <a href="{{ url_for('list_leaderboard_page').include_query_params(task_id=task.id) }}">Leaderboard</a>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
